Makefile
*.o
moc_*
.qmake.cache
RPMS/
*.so
*.so.*
*.swp
config.log
core/Makefile.hybris
documentation.list
installroot/
doc/html/
sensord/sensorfwd
tests/adaptors/sensoradaptors-test
tests/benchmark/benchmarktest/sensorbenchmark-test
tests/benchmark/dummyclient/sensordummyclient-qt5
tests/chains/sensorchains-test
tests/client/sensorapi-test
tests/dataflow/sensordataflow-test
tests/deadclient/sensord-deadclient
tests/filters/sensorfilters-test
tests/metadata/sensormetadata-test
tests/powermanagement/driverpolltest/sensordriverpoll-test
tests/powermanagement/powermanagementtests/sensorpowermanagement-test
tests/powermanagement/standbyoverridetests/sensorstandbyoverride-test
tests/testapp/sensortestapp
tests/testutils/datafaker/datafaker-qt5

